services:
  lavinmq:
    image: cloudamqp/lavinmq:2.4
    ports:
      - 5672:5672
      - 15672:15672
    networks:
      - zsched-network
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - lavinmq_data:/var/lib/lavinmq
    healthcheck:
      test: ["CMD", "lavinmqctl", "status"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 2s

  timescale:
    image: timescale/timescaledb:2.23.0-pg18
    ports:
      - 5432:5432
    networks:
      - zsched-network
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: postgres

  scheduler:
    build:
      context: ./
      dockerfile: ./example/Dockerfile
    ports:
      - 2112:2112
      - 8080:8080
    networks:
      - zsched-network
    environment:
      RABBITMQ_URL: amqp://guest:guest@lavinmq:5672/
      POSTGRES_URL: postgres://root:secret@timescale:5432/postgres?sslmode=disable
    depends_on:
      lavinmq:
        condition: service_healthy
      timescale:
        condition: service_started

  dashboard:
    build:
      context: ./web
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    networks:
      - zsched-network
    environment:
      LAVINMQ_API: http://lavinmq:15672
      LAVINMQ_USERNAME: guest
      LAVINMQ_PASSWORD: guest
      ZSCHED_URL: http://scheduler:8080
      DATABASE_URL: postgres://root:secret@timescale:5432/postgres?sslmode=disable
    depends_on:
      - lavinmq
      - timescale
      - scheduler

networks:
  zsched-network:
    driver: bridge

volumes:
  lavinmq_data:
  pgdata:
